* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef2ff;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-box {
    background: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
}

.otp-inputs input {
    width: 45px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: 0.2s;
}

.otp-inputs input:focus {
    border-color: #4f46e5;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4338ca;
}

.resend {
    margin-top: 15px;
}

#resendBtn {
    color: #4f46e5;
    cursor: pointer;
    font-weight: bold;
}